@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <style>
    body {
        background-color: @ViewData["BackgroundColor"];
        color: #ffffff;
    }
    </style>

    <div class="text-center">
        <h1 class="display-4">Welcome!</h1>
        <h2 class="display-4">@ViewData["Secret"]</h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
